    :root {
  --primary-blue: #4FA3E3;     /* Light blue blocks */
  --primary-dark: #1E1E1E;     /* Logo text / dark UI */
  --accent-orange: #FF8A2B;    /* Orange blocks */
  --accent-green: #6BCF63;     /* Green blocks */
  --accent-purple: #9B59B6;    /* Purple blocks */

  --black: #000000;
  --dark-gray: #2B2B2B;
  --gray: #6F6F6F;
  --light-gray: #E5E5E5;
  --off-white: #F9F9F9;
}



.trending{
  background-image: url("../assets/news/Gray\ White\ and\ Red\ Bold\ Cinematic\ Street\ YouTube\ Thumbnail.png"); /* adjust path */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  background-color: #000; /* fallback */
}

h2 {
  color: var(--accent-orange);
  margin-bottom: 20px;
}

body {
  background-color: var(--off-white);
  color: var(--primary-dark);
}

    .post-card {
      position: relative;
      overflow: hidden;
      border-radius: 8px;
    }

    .post-card img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .post-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 20px;
      background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
      color: #fff;
    }

    .badge-category {
      background-color: #4f46e5;
      margin-right: 5px;
    }

    .featured {
      height: 100%;
      min-height: 450px;
    }

    .small-post {
      height: 215px;
    }