body {
  background: #ffffff;
  color: #222;
  font-family: 'Segoe UI', sans-serif;
}

.nav-link:hover {
  color: #0d6efd !important;
}

.card:hover {
  transform: translateY(-3px);
  transition: 0.3s;
}

.article-title {
  font-weight: 700;
  font-size: 2rem;
}
